{% extends "homePage/main.html" %}
{% load static %}
{% block content %}
<div class="hero" id="particles-js">
  <h1> درباره ی من </h1>
</div>
<div class="about-container" >
  <div class="about-content">
    <h1>ابوالفضل مقصودی</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur deleniti ducimus nemo numquam similique quis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur deleniti ducimus nemo numquam similique quis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur deleniti ducimus nemo numquam similique quis.</p>
  </div>
</div>
{% endblock content %}