<div class="glitch-social">
  <a class="btn-social youtube" href="#">
    <i class="fab fa-youtube"></i>
  </a>
  <a class="btn-social facebook" href="#">
    <i class="fab fa-facebook-f"></i>
  </a>
  <a class="btn-social twitter" href="#">
    <i class="fab fa-twitter"></i>
  </a>
  <a class="btn-social instagram" href="#">
    <i class="fab fa-instagram"></i>
  </a>
  <a class="btn-social linkedin" href="#">
    <i class="fab fa-linkedin-in"></i>
  </a>
</div>
<footer>
  <p> تمام حقوق وبسایت مطللق ابوالفضل مقصودی میباشد &copy; 2020 </p>
</footer>
</div>